#apple-1 {
    background-color:rgb(139, 96, 96);
    color:lightsalmon;
}

#apple-2 {
    background-color:gray;
    color:whitesmoke;
}

#macintosh {
    background-color:lightslategray;
    color:wheat;
}

#ibook {
    background-color:lightgreen;
    color:green;
}

#imac {
    background-color:lightblue;
    color:blue;
}

h1.homepage{
    color:#0e63e1;
}

body{
    background-color:turquoise;
}

a {
    text-decoration: none;
}
.apple1 {
    color:lightsalmon;
}

.apple2 {
    color:gray;
}

.macintosh {
    color:wheat;
}

.ibook {
    color:green;
}

.imac {
    color:blue;
}

.header {
    color:red;
    font-size:40px;
    font-family:Fantasy;
    text-align:center;
}